<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="calcItWeb.styles.css" />
    <HeadOutlet />
</head>

<body>
    <calcItWeb.Components.Pages.NavBar></calcItWeb.Components.Pages.NavBar>
    <main>
        <Routes />
    </main>
   
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
